<div class="button-wrapper" [ngClass]="{'disabled': disabled}">
  <button
    [ngClass]="{
    'small': size === 'small',
    'medium': size === 'medium',
    'primary': variant === 'primary',	
    'secondary': variant === 'secondary',	              
    'terciary': variant === 'terciary',
    'loading': loading,
    }"
    [disabled]="disabled"
    (click)="handleClick($event)"
  >
    <ng-container>
      <ng-content></ng-content>
      <div class="loader" *ngIf="loading"></div>
    </ng-container>
  </button>
</div>
