<div class="new-cooperated">
  <div class="timeline-wrapper">
    <app-timeline></app-timeline>
  </div>
  <div>
    <span class="title">Informe o CPF do futuro cooperado (a)</span>
    <p class="subtitle mt-1" style="max-width: 700px; white-space: pre-line;">
      Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro
      futuramente. Digite apenas os números (sem pontos ou traços).
    </p>
  </div>
  <div class="row grid-container align-center mt-3">
    <form [formGroup]="form">
      <div class="input-size">
        <app-input-field
          [label]="'CPF'"
          [placeholder]="'000.000.000-00'"
          [formControl]="form.controls['cpf'] | formControl"
          [control]="form.controls['cpf'] | formControl"
          [mask]="'000.000.000-00'"
          [disabled]="client"
          [helperText]="form.controls['cpf'].touched && form.controls['cpf'].invalid ? (form.controls['cpf'].hasError('cpfInvalid') ? 'CPF inválido' : 'Campo obrigatório'): ''"
        >
        </app-input-field>
      </div>
    </form>
    <app-button
      [disabled]="client"
      (buttonClick)="checkCPF()"
      [size]="'small'"
      [variant]="'primary'"
      [loading]="loading"
      >Consultar por CPF</app-button
    >
  </div>
  <div class="row grid-container align-center" *ngIf="client">
    <app-registration-status-card [client]="client"></app-registration-status-card>
    <ng-container *ngIf="client && client.accounts.length > 0">
      @for (account of client.accounts; track account.accountNumber) {
      <app-custom-account-card [account]="account"></app-custom-account-card>
      }
    </ng-container>
  </div>
</div>
<footer class="new-cooperated__footer">
  <app-button
    *ngIf="client"
    class="ml-2"
    (buttonClick)="comingSoon()"
    [size]="'small'"
    [variant]="'primary'"
    >Iniciar nova admissão</app-button
  >
  <app-button class="ml-2" (buttonClick)="comingSoon()" [size]="'small'" [variant]="'secondary'">
    Dicas para admissão
  </app-button>
</footer>
