<!-- <div style="display: flex; column-gap: 16px;">
  <app-button [size]="'small'" [variant]="'primary'">Label teste</app-button>
  <app-button [size]="'small'" [variant]="'secondary'">Label teste</app-button>
  <app-button [size]="'small'" [variant]="'terciary'">Label teste</app-button>
  <app-button [size]="'medium'" [variant]="'primary'">Label teste</app-button>
  <app-button [size]="'medium'" [variant]="'secondary'">Label teste</app-button>
  <app-button [size]="'medium'" [variant]="'terciary'">Label teste</app-button>
  <app-input-field
    [label]="'Labelzinha teste'"
    [placeholder]="'Test placeholder'"
    [helperText]="'Test helper text'"
  ></app-input-field>
</div> -->

<div style="padding: 16px">
  <div class="timeline-wrapper">
    <app-timeline></app-timeline>
  </div>
  <div>
    <span class="title">Informe o CPF do futuro cooperado (a)</span>
    <p class="subtitle mt-1" style="max-width: 700px; white-space: pre-line;">
      Se necessário, você poderá duplicar uma conta existente ou pausar e retomar este cadastro
      futuramente. Digite apenas os números (sem pontos ou traços).
    </p>
  </div>
  <div class="row grid-container align-center mt-3">
    <div class="col-4">
      <form [formGroup]="form">
        <app-input-field
          [label]="'CPF'"
          [placeholder]="'000.000.000-00'"
          [formControl]="form.controls['cpf'] | formControl"
          [control]="form.controls['cpf'] | formControl"
          [mask]="'000.000.000-00'"
        >
        </app-input-field>
      </form>
    </div>
    <div class="col-3 ml-3">
      <app-button (click)="notify()" [size]="'small'" [variant]="'primary'" [loading]="loading"
        >Consultar por CPF</app-button
      >
    </div>
  </div>
</div>
