<header class="header">
  <div class="header-left">
    <h1 class="exo2">NOVA ADMISSÃO COOPERADO</h1>
    <p class="opensans">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
  </div>

  <div class="header-right">
    <button class="notification">
      <img class="icon" src="/assets/icons/bell.svg"/>
      <span class="badge">1</span>
    </button>
    <a class="profile">VIACREDI</a>
    <div class="profile-photo">
      <img class="avatar" src="https://avatar.iran.liara.run/public" alt="Usuário" />
      <img class="gear" src="/assets/icons/gear.svg" alt="Configurações" />
    </div>
  </div>
</header>