<header class="header">
  <div class="header-left">
    <h1 class="exo2">NOVA ADMISSÃO COOPERADO</h1>
    <p class="opensans">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</p>
  </div>

  <div class="header-right">
    <button class="notification" (click)="comingSoon()">
      <img class="icon" src="/assets/icons/bell.svg" />
      <span class="badge">1</span>
    </button>
    <a class="profile" (click)="comingSoon()">VIACREDI</a>
    <div class="profile-photo">
      <img class="avatar" src="https://i.pravatar.cc/40" alt="Usuário" />
      <a (click)="comingSoon()">
        <img class="gear" src="/assets/icons/gear.svg" alt="Configurações" />
      </a>
    </div>
  </div>
</header>
