<div class="registration-status-card">
  <div class="registration-status-card__header">
    <div class="registration-status-card__title">Situação cadastral do CPF</div>
    <span class="registration-status-card__subtitle">Consulta na Receita Federal</span>
  </div>
  <div class="registration-status-card__infos mt-3">
    <div class="registration-status-card__info">
      <div class="registration-status-card__row">
        <img
          class="registration-status-card__icon"
          src="../../../../../../assets/icons/person.svg"
        />
        <div style="width: 75%">
          <div class="registration-status-card__subtitle">Nome</div>
          <span class="registration-status-card__info-value">{{ client.name }}</span>
        </div>
      </div>
    </div>
    <div class="registration-status-card__info">
      <div class="registration-status-card__row">
        <img
          class="registration-status-card__icon"
          src="../../../../../../assets/icons/document.svg"
        />
        <div style="width: 75%">
          <div class="registration-status-card__subtitle">CPF</div>
          <span
            class="registration-status-card__info-value"
            >{{ client.document | mask: '000.000.000-00'  }}</span
          >
        </div>
      </div>
    </div>
    <div class="registration-status-card__info">
      <div class="registration-status-card__row">
        <img class="registration-status-card__icon" [src]="getIconSrc(client.documentStatus)" />
        <div style="width: 75%">
          <div class="registration-status-card__subtitle">Situação do CPF</div>
          <span
            span
            class="registration-status-card__info-value"
            >{{ client.documentStatus  }}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
