.layout {
  display: flex;
  height: 100vh;
}

.main-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
  background-color: #e7eef1;
  overflow-y: auto;
}

app-sidebar {
  height: 100vh;
}

app-header {
  width: 100%;
}
