$primary: #165c7d;
$secondary: #ffa300;
$white: #fff;
$dark-primary: #072f43;

$light-blue: #009ed0;
$green: #00c246;
$medium-blue: #007d8a;

$warning-red: #c13018;
$warning-orange: #ffa300;
$warning-yellow: #fcd610;
$warning-green: #00c246;
$warning-blue: #009ed0;

$black: #040f14;
$grey-4: #889499;
$grey-3: #a7b0b5;
$grey-2: #c6ced1;
$grey-1: #e7eef1;

$blue-140: #012f44;
$blue-120: #013f5c;
$blue-100: #165c7d;
$blue-80: #457d97;
$blue-60: #739db1;
$blue-40: #a2becb;
$blue-20: #d0dee5;

$orange-120: #c37d00;
$orange-100: #ffa300;
$orange-80: #ffb533;
$orange-60: #ffc866;
$orange-40: #ffda99;
$orange-20: #ffedcc;

$background: #e8eff2;

.input-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.input-field {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
