<aside class="sidebar">
  <div class="logo">
    <img src="/assets/imgs/logo-ailos.svg" alt="Logo" />
  </div>
  <nav>
    <ul>
      <li>
        <a routerLinkActive="active">
          <img class="action-icon" [src]="'/assets/icons/hamburger.svg'"/>
        </a>
      </li>
      <ng-container *ngFor="let item of sidebarOptions">
        <li>
          <a [href]="item.route" routerLinkActive="active">
            <span *ngIf="false">{{ item.title }}</span> 
            <img class="action-icon" [src]="'/assets/icons/'+item.icon+'.svg'"/>
          </a>
        </li>
      </ng-container>
    </ul>
  </nav>
</aside>