<div class="custom-account-card">
  <div class="custom-account-card__header">
    <div class="custom-account-card__title">{{ account.accountType }}</div>
    <span class="custom-account-card__subtitle">{{ account.cooperative}}</span>
  </div>
  <div class="custom-account-card__infos mt-3">
    <div class="custom-account-card__info">
      <div class="custom-account-card__row">
        <div style="width: 25%">
          <img class="custom-account-card__icon" src="../../../../../../assets/icons/card.svg" />
        </div>
        <div style="width: 75%">
          <div class="custom-account-card__subtitle">Número da conta</div>
          <span class="custom-account-card__info-value">{{ account.accountNumber }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
