<div class="stepper-wrapper">
  <div class="stepper-item active">
    <div class="step-counter"></div>
    <div class="step-name">Inicio</div>
  </div>
  <div class="stepper-item ">
    <div class="step-counter"></div>
    <div class="step-name">Documentos</div>
  </div>
  <div class="stepper-item">
    <div class="step-counter"></div>
    <div class="step-name">Dados cadastrais</div>
  </div>
  <div class="stepper-item">
    <div class="step-counter"></div>
    <div class="step-name">Admissão</div>
  </div>
</div>